In [ ]:
import pandas as pd
df = pd.read_excel(r'/stats.xlsx') 

# block 1 - simple stats
mean1 = df['Salary in Rs.'].mean()
sum1 = df['Salary in Rs.'].sum()
max1 = df['Salary in Rs.'].max()
min1 = df['Salary in Rs.'].min()
count1 = df['Salary in Rs.'].count()
median1 = df['Salary in Rs.'].median()
mode1 =  df['Salary in Rs.'].mode()
std1 = df['Salary in Rs.'].std() 
var1 = df['Salary in Rs.'].var()  

print ('Mean salary: ' + str(mean1))
print ('Sum of salaries: ' + str(sum1))
print ('Max salary: ' + str(max1))
print ('Min salary: ' + str(min1))
print ('Count of salaries: ' + str(count1))
print ('Median salary: ' + str(median1))
print ('Mode salary: ' + str(mode1))
print ('Std of salaries: ' + str(std1))
print ('Var of salaries: ' + str(var1))

Mean salary: 77821.2
Sum of salaries: 1945530
Max salary: 126015
Min salary: 12598
Count of salaries: 25
Median salary: 87654.0
Mode salary: 0    100639
dtype: int64
Std of salaries: 39847.6152810094
Var of salaries: 1587832443.5833337